.map-spotlight {
  position: relative;
  padding: 40px 0 0;

  @include bp(medium) {
    padding: 90px 0 40px;
  }

  &__title {
    font-size: 1.75rem;
    color: $white;
    font-family: $sans;
    font-weight: 800;
    line-height: .9;
    margin-bottom: 30px;
    text-align: center;
    
    @include bp(medium){
      font-size: 3.5rem;
    margin-bottom: 30px;
    }
  }

  &__wrap {
    max-width: $max-width-l;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    
    @include bp(medium) {
      width: 100%;
      flex-direction: row;
    }
  }

  &__copy {
    width: 100%;
  }

  &__content-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include bp(medium) {
      // flex-direction: row;
    }

    ul {
      padding: 0;
      font-family: $sans;
      margin: 0 0 30px;
      @include bp(medium) {
        margin: 0;
      }
      li {
        list-style-type: none;
        color: $white;
        text-align: center;
        margin: 8px 0;
      }

      a {
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__copy--content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    @include bp(medium) {
      margin: 20% 10%;
    }
  }

  &__image {
    width: 100%;
    height: 350px;
    position: relative;
    
    @include bp(medium) {
      height: auto;
    }

    iframe {
      height: 100%;
      width: 100%;
      border: 0;
      
      @include bp(medium) {
        border-radius: 20px;
      }
    }
  }

  &__headline {
    font-size: 2rem;
    font-family: $sans;
    font-weight: 800;
    line-height: .9;
    margin-bottom: 20px;
    position: relative;
    color: white;
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 40px;
      height: 40px;
      margin-bottom: 10px;
    }
  }

  &__subtext {
    position: relative;
    font-size: 1.1rem;
    color: $white;
    margin-bottom: 0;
  }

  .phone,
  .email {
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .phone {
    background-image: url('../img/ui-phone--white.svg');
  }

  .email {
    background-image: url('../img/ui-email--white.svg');
  }

  &.teal {
    background-color: $teal;

    .map-spotlight__copy--item a,
    .map-spotlight__title,
    .map-spotlight__headline,
    .map-spotlight__subtext {
      color: $white;
    }

    .phone,
    .email {
      width: 50px;
      height: 50px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .phone {
      background-image: url('../img/ui-phone--white.svg');
    }

    .email {
      background-image: url('../img/ui-email--white.svg');
    }
  }

  &.night {
    background-color: $night;

    .map-spotlight__copy--item a,
    .map-spotlight__title,
    .map-spotlight__headline,
    .map-spotlight__subtext {
      color: $white;
    }

    .phone,
    .email {
      width: 30px;
      height: 30px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      
      @include bp(medium) {
        width: 50px;
        height: 50px;
      }
    }

    .phone {
      background-image: url('../img/ui-phone--white.svg');
    }

    .email {
      background-image: url('../img/ui-email--white.svg');
    }
  }

  &.white {
    background-color: $white;
    margin: 40px 0;

    .map-spotlight__copy--item a,
    .map-spotlight__title,
    .map-spotlight__headline,
    .map-spotlight__subtext {
      color: $night;
    }

    .phone,
    .email {
      width: 50px;
      height: 50px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .phone {
      background-image: url('../img/ui-phone.svg');
    }

    .email {
      background-image: url('../img/ui-email.svg');
    }
  }

  &.grey {
    background-color: $grey;

    .map-spotlight__copy--item a,
    .map-spotlight__title,
    .map-spotlight__headline,
    .map-spotlight__subtext {
      color: $night;
    }

    .phone,
    .email {
      width: 50px;
      height: 50px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .phone {
      background-image: url('../img/ui-phone.svg');
    }

    .email {
      background-image: url('../img/ui-email.svg');
    }
  }
}