.my-slider {
  margin: 0 auto;
  width: 100%;
  border: 3px solid red;
  }
  
  .tns-outer {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .tns-item {
    outline: 1px solid green;
    margin-right: 20px;
    width: 300px;
  }
  
  .tns-item:last-of-type {
    outline: 1px solid blue;
    margin-right: 0px;
  }

  button {
    display: none;
  }