.my-slider {
  // margin: 0 auto;
  width: 100%;
  border: 3px solid red;
  }
  
  .tns-outer {
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
    position: relative;
  }
  
  .tns-item {
    // outline: 1px solid green

    width: 360px;
  }
  
  // .tns-item:last-of-type {
  //   outline: 1px solid blue;
  //   margin-right: 0px;
  // }
  button{
    // background-color: darkgoldenrod;
  }

  .tns-controls {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
  }
