.wysiwyg {
  margin: 0 auto;
  padding: $layer-padding;
  
  &__wrap {
    max-width: $max-width-l;
    margin: 0 auto;

    ul {
      li {
        list-style-type: none;
        margin-bottom: 20px;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          width: 30px;
          height: 30px;
          top:-2px;
          left: -35px;
          background-image: url('/img/ui-award-1.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
  }
  &__copy {
    width: 500px;
    margin: 0 auto;
  }
  &__title {
    font-size: 3.5rem;
    color: $night;
    font-family: $sans;
    font-weight: 800;
    line-height: .9;
    margin-bottom: 60px;
    text-align: center;
  }
}